pandas
openpyxl
azure-identity
azure-mgmt-resource
azure-mgmt-subscription
azure-mgmt-storage
azure-storage-blob
azure-core
azure-storage-fileshare
azure-mgmt-consumption
azure-mgmt-advisor
azure-mgmt-reservations
azure-mgmt-costmanagement
matplotlib
seaborn
